.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.diorama-highlight {
  background-color: #eb5424aa;
  border-bottom: 0.1em solid #eb5424;
  color: white;
  padding: 0 0.3em;
}

.diorama-slide.highlight {
  color: white;
  background-color: #eb5424;
}
.diorama-slide.highlight h1,
.diorama-slide.highlight h2 {
  color: #eb5424;
  -webkit-text-stroke: 8px white;
  paint-order: "stroke fill";
}
.diorama-slide.highlight h2 {
  -webkit-text-stroke: 4px white;
}

.diorama-slide.spaceout .diorama-content {
  justify-content: space-around;
}

.diorama-slide .diorama-content {
  gap: 2em;
}

.diorama-slide .diorama-columns {
  height: auto;
}

.diorama-slide .diorama-columns .align-top {
  justify-content: flex-start;
}

.diorama-slide .diorama-columns .smaller li,
.diorama-slide .diorama-text.smaller {
  font-size: 2em;
}

img.icon {
  width: 40%;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

div.LuGwdVNUozycM7bGFyFja {
  display: inline;
}

.auth0logo {
  width: 4em;
  vertical-align: bottom;
}
.twitterlogo {
  width: 1em;
  vertical-align: bottom;
}

.imageShadow {
  box-shadow: 1.5rem 1.5rem 5rem 0 rgba(27, 43, 52, 0.2),
    -1.5rem -1.5rem 5rem 0 rgba(27, 43, 52, 0.2),
    -1.5rem 1.5rem 5rem 0 rgba(27, 43, 52, 0.2),
    1.5rem -1.5rem 5rem 0 rgba(27, 43, 52, 0.2);
  border-radius: 0.5rem;
}
